{% extends "layout.html" %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="../static/css/detect.css" />
<script>
    function checkdetectiondata(){
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function(){
            if (this.status == 200 && this.readyState == 4){
                data = JSON.parse(this.responseText);
                if(data.all_objects_detected){
                    document.getElementById("webcam-container").style.border =
                        "5px solid green";
                    document.getElementById("printButton").disabled = false;

                    //Change color
                    const jumbotron = document.getElementById("jumbotron");
                    jumbotron.classList.remove("alert-danger");
                    jumbotron.classList.add("alert-success");
                    jumbotron.innerHTML = "All Object Detected";

                    //Stop checking for detection data
                    clearInterval(myInterval);
                }
            }
        }
        xhttp.open("GET", "/detectdata", true);
        xhttp.setRequestHeader("Authorization", "Bearer " + '{{API_KEY}}');
        xhttp.send();
    }
    const myInterval = setInterval(checkdetectiondata, 3000);
</script>
{% endblock %}
{% block content %}
<div class="content">
    <div id="webcam-container" class="webcam-container">
        <img src="{{ url_for('webapp') }}" alt="Upload video" />
    </div>
    <div class="text-container">
        <div id="jumbotron" class="jumbotron alert-danger">
            Nota all objects detected
        </div>
        <h3>Hello {{username}}</h3>
        <p>
            In order to print your worksheet,<br>
            Please make sure you have worn:
            <ul>
                <li>Earmuff</li>
                <li>Mask</li>
                <li>Helm</li>
                <li>Safety-Glasses</li>
                <li>Safety-Shoes</li>
                <li>Vest</li>
            </ul>
        </p>
        <p>
            If you have any trouble, <br>
            Please contact your supervisor.
        </p>
        <a href="/loginpage">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
        <a href="/assignment">
            <!-- TODO:Change Button with the commented one -->
            <!-- <button id="printButton" type="button" class="btn btn-success" disabled>Print Worksheet</button> -->
            <button id="printButton" type="button" class="btn btn-success">Print Worksheet</button>
        </a>
    </div>
</div>
{% endblock %}