.sortable::after {
    content: "  ⇵";
    cursor: pointer;
    color: grey;
}
.sorting-asc::after {
    content: " ↑";
    color: grey;
}

.sorting-desc::after {
    content: " ↓";
    color: grey;
}

