body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-bootstrap-table>table>thead>tr>th .sr-only {
  display: none;
}

.react-bootstrap-table>table>thead>tr>th .filter-label {
  display: grid;
}

.react-bootstrap-table>table>thead>tr>th .number-filter{
  display: flex;
  flex-direction: row;
}

.react-bootstrap-table > table > thead > tr > th .number-filter > :nth-child(1) {
  flex: 1;
}

.react-bootstrap-table > table > thead > tr > th .number-filter > :nth-child(2) {
  flex: 3;
}