.content {
    display: flex;
    flex-direction: row;
    height: 95vh;

    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left-content {
    width: 30vw;
    height: 100%;
    border-right: 5px solid black;
}

.tasks-container{
    padding-left: 1vw;
    width: 100%;
}

.task-container{
    width: 26vw;
    height: 25vh;
    border: 1px solid black;
    margin: 0.5vh 0 0.5vh 0.5vw;

    padding-left: 0.5vw;
    overflow-y: scroll;
}

.radio-button-2x-label{
    font-size: xx-large;
}

input[type='radio'] { 
    transform: scale(2); 
    height: 100%;
    justify-self: center;
    margin-top: 0;
    margin-bottom: 0;
}

.right-content {
    position: relative;

    width: 70vw;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;

    right: 1vw;
    bottom: 1vh;

    width: 15%;
    height: 15%;

    border: 3px solid red;

    object-fit: scale-down;
    background-color: lightgrey;
}

#overlay:hover {
    cursor: pointer;
}
