.content{
    display: flex;
    flex-direction: row;

    height: 95vh;

    justify-content: center;
    align-items: center;
}

.webcam-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    width: 1380px;
    height: 820px;
    object-fit: contain;
    margin: auto;
    padding: auto;

    border-radius: 35px;
    border: 5px solid red;
}



.text-container {
    width: auto;
    margin: auto;

    max-width: 300px;
}